

%p.pharaoh
  %b Image:
  = image_tag (@pharaoh.image.url)

%p.pharaoh
  %b Name:
  = @pharaoh.name
%p.pharaoh
  %b Tenure:
  = @pharaoh.tenure
%p.pharaoh
  %b Successor:
  = @pharaoh.successor
%p.pharaoh
  %b.biography Biography:
  = @pharaoh.biography

-# = link_to 'Edit', edit_pharaoh_path(@pharaoh)
-# \|
-# = link_to 'Back', pharaohs_path
