

%p
  %b Name:
  = @pharaoh.name
%p
  %b Tenure:
  = @pharaoh.tenure
%p
  %b Successor:
  = @pharaoh.successor
%p
  %b Biography:
  = @pharaoh.biography

= link_to 'Edit', edit_pharaoh_path(@pharaoh)
\|
= link_to 'Back', pharaohs_path
