%p.pharaoh.Name
  = @pharaoh.name
%p
  %b.pharaoh.Text Tenure
  = @pharaoh.tenure
%p
  %b.pharaoh.Text Successor
  = @pharaoh.successor
%p
  %b.pharaoh.Text Biography
  = @pharaoh.biography

-# Shows articles where current pharaoh appears

%ul#pharArt
  %b.pharaoh.Text Read more about this pharaoh here
  - @pharaoh.articles.each do |article|
    %li= link_to article.title,article_path(id: article.id)
